
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
  p.big {
    line-height: 1.8;
  }
}

h1,h2,h3,h4 {
  font-family: 'helvetica', 'arial', 'sans';
  }

a {
  color: #000;
}

.header {
  background: #fff;
  color: #000;
  height: 500px;
  padding: 30px 30px 30px;
}

.header h1 {
  font-size: 50px;
  }

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 250px;
  height: 350px;
  float: left;
}

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}


.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

<html>
<head>
<style>
p.small {
  line-height: 0.7;
}

p.big {
  line-height: 1.8;
}
</style>
</head>
<body>
<p class="big">
My name is Nicole. I'm an HCDE masters student and I'm excited to learn how to use some of the tools that I haven't used before in makerspaces.<br>
Sculpture was my focus in my undergrad art degree. I have done a lot of woodworking and metal work such as casting and pouring bronze and welding. I've also worked with clay a lot.<br>
I worked as a designer with a sign shop in New York that specialized in vehicle and truck wraps so I've worked with vinyl quite a lot in that capacity.<br>
I'm excited to learn how to operate tools using coding.
Another thing I'm excited about is using my extensive experience working with vectors in a new way and helping others work with vectors.
</p>
</body>
</html>
